.container
    width: 44rem
    background: #FFFFFF
    border-radius: 1rem
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08)
    user-select: none
    border: 1px solid #CDCDCD

.content
    padding: 1.5rem
    display: flex
    flex-direction: column
    gap: 1.3rem

.header
    padding-bottom: .5rem
    border-bottom: 1px solid #cdcdcd

.title
    margin: 0
    font-size: 1.5rem
    font-weight: 600
    color: #333

.footer
    display: flex
    justify-content: center
    margin-top: .1rem
    padding-top: 1rem
    border-top: 1px solid #EEEEEE

.main
    display: flex
    flex-direction: column
    align-items: center
    padding: 1rem 

